:root {
    --blue: lightblue;
    --darkblue: darkblue;
    --black: black;
    --white: white;
    --yellow: #ffe500;

    --fs-small: 10px;
    --fs-large: 30px;

    --about-font-small: 30px;
    --about-font-large: 30px;
}

.light {
    --bg: var(--white);
    --text: var(--black);
}

.dark {
    --bg: var(--black);
    --text: var(--white);
    --header: var(--yellow);
}

.small {
    --font: var(--fs-small);
    --about-font: var(--about-font-small);
}

.large {
    --font: var(--fs-large);
    --about-font: var(--about-font-large);
}

/* 
div {
    background-color: var(--bg);
    color: var(--text);
    font-size: var(--font);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
} */


.header-items {
    font-size: var(--about-font);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.home-page {
    background-color: var(--bg);
    color: var(--text);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.about-header {
    padding-top: 50px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.about-description {
    font-size: var(--about-font);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.card-body {
    background-color: var(--bg);
    color: var(--text);
    font-size: var(--font);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.card-text {
    /* background-color: var(--bg); */
    color: var(--text);
    font-size: var(--font);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.card-title  {
    color: var(--text);
    font-size: var(--font);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.customer-background {
    background-color: var(--bg);
    color: var(--text);
    font-size: var(--font);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
