:root {
    --blue: lightblue;
    --darkblue: darkblue;
    --black: black;
    --white: white;
    --yellow: #ffe500;

    --fs-small: 10px;
    --fs-large: 30px;
}

.light {
    --bg: var(--white);
    --text: var(--black);
}

.dark {
    --bg: var(--black);
    --text: var(--white);
    --header: var(--yellow);
}

.small {
    --font: var(--fs-small);
}

.large {
    --font: var(--fs-large);
}

div {
    background-color: var(--bg);
    color: var(--text);
    font-size: var(--font);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
