#cashierSection {
    min-height: 85vh;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-between;
}

.checkout{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 80%;
}


  
.itemsCol ul li {
    display: block; /* Display list items vertically */
    margin: 5px 0; /* Optional spacing between list items */
}

#OrderActions{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-bottom:  auto;
   position: relative;
   height: 10%;
   /* padding-top: 5px; */
   padding-bottom: 7px;
}

#itemList{
    overflow-y: auto
}

#orderInfo{
    height: 10%;
    font-size: large;
}
