#cashierSection {
    min-height: 85vh;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-between;
}

.checkout{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


  
.itemsCol ul li {
    display: block; /* Display list items vertically */
    margin: 5px 0; /* Optional spacing between list items */
}

