footer {
    background-color: royalblue;
    color: white;
    min-height: 5vh;
    min-width: 100%;
    display: flex;
}

#google_translate_element {
    margin-left: auto;
    /* margin-right: 10; */
    padding-bottom: 10px;
}
